@tailwind base;
@tailwind components;
@tailwind utilities;
 
 html {
  height: 100%;
  box-sizing: border-box;
 }

 body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  padding-bottom: 7rem;
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1rem;
}

.navbar__logo-container {
  display: flex;
  align-items: center;
}

.navbar__logo {
  height: 3rem;
  margin-right: 1rem;
}

.navbar__logo-background {
  background-color: black;
  border-radius: 5%;
  padding: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.navbar__links-container {
  display: flex;
  align-items: center;
}

.navbar__link {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
}

.navbar__link_span {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
}

.navbar__link:hover {
color: rgb(232, 220, 107);
}

.navbar__button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.navbar__button:hover {
  background-color: #555;
}

.navbar__button--signup {
  margin-left: 1rem;
}

.logout-button {
  padding: 10px 20px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c0392b;
}

.username-span {
  margin-right: 10px;
}


.about-page {
  padding: 2rem;
}

.about-page__header {
  text-align: center;
  margin-bottom: 2rem;
}

.about-page__content {
  max-width: 800px;
  margin: 0 auto;
}

.about-page__content p {
  margin-bottom: 1rem;
}

.contact-page {
  padding: 2rem;
}

.contact-page__header {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-page__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-page__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 2rem;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 10px;
  width: 150px;
  height :150px;
}


.contact-page__card-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contact-page__form {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-page__form h2 {
  margin-bottom: 1rem;
}

.contact-page__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-page__form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.contact-page__form button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.contact-page__form button:hover {
  background-color: #0062cc;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 97%;
  margin-top: auto;
}

.footer__left {
  display: flex;
  flex-direction: column;
  
}

.footer__company-name {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer__credentials {
  font-size: 0.8rem;
  line-height: 1.2;
}

.footer__right {
  display: flex;
}

.footer__right a {
  display: inline-block;
  margin-left: 1rem;
}

.footer__right a img {
  height: 1.5rem;
  width: 1.5rem;
}

.footer__right a:hover img {
  opacity: 0.7;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.login-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.form-input label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0077b6;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background-color: #023e8a;
}

.register-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.register-link p {
  margin-right: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#filter {
  width: 80%;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.filter-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-input-group p {
  margin: 0;
  margin-right: 10px;
}

.filter-input-group input[type="number"],
.filter-input-group select,
.filter-input-group input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filter-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.car-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.car-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
/*Car adding form styles*/
.car-form-container {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-right: 10px;
}

.car-form {
  max-width: 400px;
  margin: 0 0 5% 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.car-form-heading {
  font: bolder;
  font-size:xx-large;
  text-align: center;
  align-items: center;
  }

  .heading-container{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    background: #ece4c4;
  }

.form-group {
  margin-bottom: 10px;
}

.car-form-label {
  display: block;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 2%;
}

.car-form-select,
.car-form-input,
.car-form-textarea {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.car-form-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 3%;
}

.car-form-button:hover {
  background-color: #45a049;
}

.car-animation-container {
  width: 40%;
  margin-top: 5%;
  display: inline-block;
  
}

/*Confirm alert*/
.react-confirm-alert-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-confirm-alert {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.react-confirm-alert-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.react-confirm-alert-message {
  font-size: 16px;
  margin-bottom: 20px;
}

.react-confirm-alert-button-group {
  display: flex;
  justify-content: flex-end;
}

.react-confirm-alert-button {
  font-size: 14px;
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.react-confirm-alert-button:hover {
  background-color: #0056b3;
}

.react-confirm-alert-button:last-child {
  margin-left: 0;
}

/*Car card styles*/
.car-card {
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 10%;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.car-card-image {
  width: 200px;
  height: 100%;
  flex-shrink: 0;
}

.car-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car-card-details {
  padding: 16px;
}

.car-card-info {
  display: flex;
  flex-direction: column;
}

.car-card-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.car-card-make,
.car-card-model {
  font-size: 16px;
  margin-bottom: 4px;
}

.car-card-year {
  font-size: 14px;
  color: #777;
}
/*CarDetails page styles*/
.advert-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.advert-details-card {
  display: flex;
  flex-direction: column;
  
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.advert-details-card-image {
  width: 100%;
  margin-bottom: 20px;
}

.advert-details-card-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.advert-details-card-content {
  flex: 1;
}

.advert-details-card-header {
  margin-bottom: 10px;
}

.advert-details-card-body p {
  margin-bottom: 5%;
}

.advert-details-message-form {
  margin-top: 20px;
}

.advert-details-h3 {
  margin-top: 5%;
  margin-left: 5%;
}

.advert-details-textarea {
  width: 80%;
  height: 200px;
  margin-bottom: 10px;
  margin-left: 5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.advert-details-button {
  padding: 10px 20px;
  margin-left: 5%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.advert-details-button:hover {
  background-color: #0069d9;
}

.cssbuttons-io-button {
  background: #a7b510;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #e1d93a;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #0b0700;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

/* AdminPage.css */

.admin-page {
  display: flex;
}

.admin-sidebar {
  flex: 0 0 auto;
  margin-top: 90px;
  width: 200px;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.admin-sidebar__buttons {
  display: flex;
  flex-direction: column;
}

.admin-sidebar__button {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0e0e0a4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-sidebar__button:hover {
  background-color: #d0d0d0;
}

.admin-sidebar__button-text {
  font-weight: bold;
  font-size: small;
}

.admin-content {
  flex: 1 1 auto;
  padding: 20px;
}

.admin-content__table {
  margin-top: 100px;
}

/*users table design */
.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th,
.users-table td {
  padding: 12px;
  border: 1px solid #ccc;
}

.users-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.users-table td {
  text-align: center;
}

.users-table .delete-button {
  padding: 6px 12px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.users-table .delete-button:hover {
  background-color: #c0392b;
}

/*newform*/
.login-form {
  max-width: 400px;
  margin: 150px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-center {
  text-align: center;
}


.login-form-label {
  display: block;
  margin-bottom: 5px;
}

.login-form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-container {
  position: relative;
}

.login-form-password {
  padding-right: 40px;
}

.login-form-password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-form-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.login-form-button:hover{
  background-color: #013975;
}

.error {
  color: red;
  margin-top: 10px;
}
